<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vvvvvvvvvvvvvv</title>
</head>

<body>
    <div>

        <video style="height: 500px;" controls>
            <source src="../static/Sajni-Love-Song-Facebook-Status-Videos.mp4">
        </video>



        <audio controls>
            <source src="../static/Sajni(PagalNew.Com.Se).mp3">
        </audio>
    </div>


</body>

</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <video style="height: 500px;" controls>
    <source src="../static/Kaifi-Khalil-Kahani-Suno-2.0_Status-video-_Pt.-2720P_HD.mp4">
    </video>

   

    <video style="height: 500px;" controls>
        <source src="../static/KAHANI-SUNO-_-MERI-DUNIYA-TUMHI-HO-_-kahani-suno-2.0-_-_sadstatus-_shorts720P_HD.mp4">
    </video>

    
    <video style="height: 500px;" controls>
        <source src="../static/kahani-suno-❤️-WhatsApp-status-__-Lofi-song-__-❣️720P_HD.mp4">
    </video>
    <video style="height: 500px;" controls>
        <source src="../static/Sajni-Love-Song-Facebook-Status-Videos.mp4">
    </video>

    <video style="height: 500px;" controls>
        <source src="../static/Kaifi-Khalil-Kahani-Suno-2.0-Full-screen-whatsapp-status-Official-Music-Video720P_HD.mp4">
    </video>
    <br>
    <audio controls>
        <source src="../static/Kahani Suno 2.0 - Kaifi Khalil_128-(DJMaza).mp3">
    </audio>
    <br>
    <audio controls>
        <source src="../static/Kahani Suno 2.0 - Kaifi Khalil_128-(DJMaza).mp3">
    </audio>
    <br>
    <audio controls>
        <source src="../static/Kahani Suno 2.0 - Kaifi Khalil_128-(DJMaza).mp3">
    </audio>
    <br>
    <audio controls>
        <source src="../static/Kahani Suno 2.0 - Kaifi Khalil_128-(DJMaza).mp3">
    </audio>
    <br>
    <audio controls>
        <source src="../static/Kahani Suno 2.0 - Kaifi Khalil_128-(DJMaza).mp3">
    </audio>
</body>
</html>